.card{
    border: 2px solid #000000;
    border-spacing: 2px;
    
}

.card-header{
    color: rgb(1, 100, 1);
    font-weight: bold;
}

.form-group{
    color: rgb(1, 100, 1);
    font-weight: bold;
	
}

.background {
	width: 100%;
    display: block;
    background-color: #fff;
    margin: 0px;
}


.card-img-top{
    position: static;
    width: 67%;
    
}