<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>JURIDICO WEB</h3>
        </div>

        <ul class="list-unstyled components">
            <a class="nav-link dropdown-toggle" id="userDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img class="img-profile rounded-circle"
                src="assets/img/undraw_profile.svg">
            <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{nome}}</span>
            
        </a>
        <li>
            <a  routerLink="Mensal" routerLinkActive="active">Incluir/Editar Processo </a>
        </li>
        <li>
            <a  routerLink="Semanal" routerLinkActive="active">Relatório </a>
        </li>
        <li>
            <a  routerLink="Mensal" routerLinkActive="active">Agenda </a>
        </li>
        <li>
            <a  routerLink="Mensal" routerLinkActive="active">Importar Arquivos </a>
        </li>
        <li>
            <a  routerLink="Mensal" routerLinkActive="active">Acesso </a>
        </li>
        <li>
            <a  routerLink="Mensal" routerLinkActive="active">Sair </a>
        </li>
    </ul>
    </nav>
   <router-outlet></router-outlet>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<!-- Popper.JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
            $(this).toggleClass('active');
        });
    });
</script>