::ng-deep #exportContainer {
    text-align: left;
  }
  

  
  ::ng-deep .data-grid {
    padding: 10px;
  }




  ::ng-deep #gridContainer {
    height: 98%;
    max-height: 95vh;
  }


  ::ng-deep .right-content {
    position: absolute;
    right: 0;
    left: 220px;
    top: 0;
    height: 100%;
  }
